<mat-toolbar>Dashboard Page</mat-toolbar>
<!-- <div class="row">
  <div class="col-md-12">
    <mat-card>Hikari App</mat-card>
    <button mat-raised-button class="sdw-btn-warning" (click)="test.show()">Modal</button>
  </div>
</div> -->

<!-- <app-hikari-modal #test style="overflow-y: scroll">
    <div class="hikari-modal-header">
    </div>
    <div class="hikari-modal-body"  >
        <app-sidebar></app-sidebar>
    </div>
    <div class="hikari-modal-footer">
      <div class="pull-right">
          <button mat-raised-button class="sdw-btn-warning" (click)="test.hide()">Batal</button>
      </div>
    </div>
</app-hikari-modal> -->